/* added color scheme root selector */
:root {
  --brown: #715327;
  --gray: #b5bbbe;
  --darkBrown: #402f21;
  --tan: #bf9174;
  --burntOrange: #b76526; 
}
/* added all ids, classes, and elements */
* {
  background-color: var(--darkBrown);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
  margin: 0;
}
/* started adding borders, colors, font and image sizes, and alignment */
header {
  border-style: dotted;
  border-width: 25px;
  padding: 10px;
  border-color: var(--burntOrange)
}

h1 {
  text-align:center;
  font-size: 50px;
  color: var(--tan);
}

.nav-links a {
text-align: center;
color: var(--gray);
}

#about {
flex-direction: column;
border-style:solid;
border-width: 15px;
color: var(--tan);
}

.img-me {
  height: 400px;
  width: 300px;
  justify-content: left;
}

h3 {
text-align: center;
color: var(--tan);
}

h4 {
  text-align: center;
}

p {
text-align:start; 
color: var(--gray);
}

#projects {
  flex-direction: column;
  border-style: dotted;
  border-width: 15px;
  color: var(--burntOrange);
}

.firstProject {

}

.img-fp {
height: 250px;
width: 250px;
}

.otherProjects {

}

.img-project {
height: 100px;
width:100px;
}

footer {

}

ul {

}

#contact-me {
  text-align: center;
  flex-direction: column;
  border-style:solid;
  border-width: 15px;
  color: var(--tan);
}

h6 {
  text-align: center;
  flex-direction: column;
  border-style: dotted;
  border-width: 15px;
  color: var(--burntOrange);
}








