/* added color scheme root selector */
:root {
  --brown: #715327;
  --gray: #b5bbbe;
  --darkBrown: #402f21;
  --tan: #bf9174;
  --burntOrange: #b76526; 
}
/* added all ids, classes, and elements */
* {
  background-color: var(--darkBrown);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
  margin: 0;
}
/* started adding borders, colors, font and image sizes, and alignment */
header {
  border-style: dotted;
  border-width: 25px;
  padding: 10px;
  border-color: var(--burntOrange)
}

h1 {
  text-align:center;
  font-size: 50px;
  color: var(--tan);
}

ul {
  text-align: center;
  justify-content: space-between;
}
.nav-links a {
text-align: center;
gap: 5px;
color: var(--gray);
}

#about {
display: flex;
flex-wrap: wrap;
border-style:solid;
border-width: 15px;
color: var(--tan);
}

.image-wrapper {
display: flex;
flex-basis: 20%;
justify-content: center;
align-items: center;
}

.img-me {
  width: 100%;
  height: auto;
  /* height: 400px;
  max-width: 300px; */
  /* justify-content: left; */
}

.aboutMeText {
flex-basis: 80%;
}

h2 {
text-align: center;
color: var(--tan);
}

p {
/* text-align:start;  */
color: var(--gray);
padding: 40px 20px 0 20px;
display: flex;
flex-wrap: wrap;
}

#projects {
  display: flex;
  border-style: dotted;
  border-width: 15px;
  color: var(--burntOrange);
}

.firstProject {

}

.img-fp {
height: 250px;
width: 250px;
}

.otherProjects {

}

.img-project {
height: 100px;
width:100px;
}

footer {

}

ul {

}

#contact-me {
  display: flex;
  text-align: center;
  border-style:solid;
  border-width: 15px;
  color: var(--tan);
}

h6 {
  text-align: center;
  flex-direction: column;
  border-style: dotted;
  border-width: 15px;
  color: var(--burntOrange);
}
/* added media query with tutor Meg Myers */
@media screen and (max-width: 690px){
#about {
  flex-direction: column;
}  
.img-me  {
  height: 400px;
  max-width: 300px;
} 
}








